.card{
  border: 1px solid hsl(0, 0%, 40%);
  border-radius: 10px;
  box-shadow: 5px 5px 5px hsla(0, 0%, 0%, 0.1);
  padding: 20px;
  margin: 10px;
  text-align: center;
  max-width: 250px;
  display: inline-block;
}

.card .card-img{
max-width: 60%;
height: auto;
border-radius: 50%;
margin-bottom: 10px;
}

.student{
  border: 1px solid rgb(60, 60, 60);
  padding: 10px;
}

.student p{
  margin: 0;
}

.welcome-message{
  font-size: 2em;
  background-color: green;
  color: white;
  padding: 10px;
  border-radius: 5px;
  margin: 0;
}

.login-prompt{
  font-size: 2em;
  background-color: red;
  color: white;
  padding: 10px;
  border-radius: 5px;
  margin: 0;

}

.counter-container{
  text-align: center;
}
.counter-display{
  font-size: 10em;
  margin-top: 0;
}
.counter-button{
  width: 150px;
  height: 50px;
  font-size: 1.5em;
  font-weight: bold;
  margin: 0px 5px;
  border-radius: 5px;
  cursor: pointer;
}

.counter-button:hover{
  background-color: hsl(0, 0%, 45%);
  color: aliceblue;
}

.color-picker-container{
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1{
  margin: 50px;
  font-size: 3rem;
}
.color-display{
  width: 300px;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 5px solid hsl(0, 0%, 79%);
  border-radius: 25px;
  margin-bottom: 25px;
  transition: 0.25s ease;
}